html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
/* Navigation */
header {
    background-color: white;
    height: 64px;
    padding-top: 16px;
}

#colmar {
    font-weight: bold;
}
#academy {
    color:grey;
}
#logo {
    display: flex;
    align-items: center;
    float:left;
    padding-left: 24px;
}
#desktop {
    display: block;
    float: right;
    justify-content: space-between;
    height: 32px;
    padding-right: 8px;
}
#desktop a {
    padding-right: 16px;
    width:100%;
}
#mobile {
    display: none;
}

/* Learn something new everyday - Section 1*/
#learn {
    background-color: rgba(148, 148, 148, 0.486);
    width: 100%;
    display: flex;
}
#learn img{
    width: 60%;
    float: left;
    margin: 32px 24px;
}
#learn div {
    display: flex;
    flex-wrap: wrap;
    margin: 32px 0 24px 0;
}

#learn p {
    flex-wrap: wrap;
    text-align:start;
    width: 650%
}

#button {
    display: flex;
    flex-wrap: wrap;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 200px;
    text-align: center;
    justify-content: center;
    background-color: rgb(41, 41, 41);
    color: white;
}

/* It doesn't hurt to keep practicing - Section 2*/

#hurt {
    display:flex;
    padding: 32px 0;
}

#left img {
    width: 100%;
}

#left {
    width: 60%;
    padding: 0 24px;
}

#right {
    width: 40%;
}

#right img {
    width: 40%;
    height: 40%;
    padding: 16px;
}

.right-text {
    width: 65%;
    padding-bottom: 8px;
}

.mobile {
    display: none;
}

.desktop {
    display: flex;
}

/* Start learning - Section 3*/

#start {
    padding-top: 32px;
    padding-bottom: 32px;
}

#start h2 {
    text-align: center;
}

#start div {
    height: auto;
    padding: 32px 72px;
    width: auto;
}

.start {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    padding: 24px;
    justify-content: space-around;
    width: auto;
}

#start img {
    height: auto;
    width: auto;
}

/* Thesis exhibit - Section 4*/

#thesis {
    display: flex;
}

#exhibit {
    text-align: center;
    padding: 32px;
}

#left-info {
    width: 60%;
    height: auto;
}

#thesis video {
    width: 100%;
    height: auto;
    padding: 24px;
}

#thesis img {
    width:35%;
    height:auto;
    padding: 16px;
}
#right-info {
    display: block;
    width:40%;
    height:auto;
    padding:24px;

}
.right-info {
    width: 40%;
    height: auto;   
    display:flex;
    
}

/* Footer - Section 5*/

footer {
    padding-left: 24px;
    padding-top: 16px;
    text-align: center;
    justify-content: center;
}

footer p {
    float: left;
}

footer a {
    padding: 5px;
}

#tp {
    float: right;
    justify-content: space-evenly;
    padding: 5px;
}

@media screen and (max-width: 800px) {
    #mobile {
        display: flex;
        color: yellow;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }
    header {
        background-color: white;
        height: 50px;
        display: flex;
    }
    #logo {
        display: none;
    }
    #desktop {
        display: none;
    }
    #learn img {
        width: 100%;
        display: flex;
        margin: auto 0;
        padding: auto 0;
    }
    #learn {
        display: flex;
        flex-flow: wrap;
        align-items: center;
    }
    #learn div {
        padding: 16px;
    }
    #left {
        display: none;
    }
    .desktop img {
        display: none;
    }
    .mobile {
        display: flex;
        height: 30%;
        width: 100%;
    }

    #right {
        width: 94%;
        padding-bottom: 16px;
        padding-top: 16px;
    }
    
    #right img {
        width: 100%;
        height: auto;
        padding: 0px 16px;
        align-items: center;
    }
    
    .right-text {
        width: 100%;
        padding: 16px;
        text-align: start;
    }

    #hurt {
        padding-bottom: 16px;
    }
    #start {
        padding-top: 16px;
    }
    .start {
        padding-top: 16px;
        padding-left: 16px;
        padding-bottom: 24px;
        background-color: aliceblue;
        border: solid white 8px;
    }
    .start img {
        display: none;
    }
    .start p {
        display: none;
    }
    footer a{
        display: none;
    }

    #left-info {
        width: 91%;
    }

    #left-info h3, #left-info p {
        display: none;
        width:100%;
    }
    #right-info {
        display: none;
    }
    #thesis video {
        width: 100%;
        height: auto;
    }
}